{% extends 'layouts/dashboard.html' %}
{% macro  create() %}
<div class="col">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">General Elements</h3>
    </div>
    <!-- /.card-header -->
    <form method="post">
      <div class="card-body">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" id="" placeholder="Enter ..." name="group_name">
        </div>  
        <!-- text input -->
        <div class="form-group">
          <label>Porcentagem 1</label>
          <input type="text" class="form-control" id="" placeholder="Enter ..." name="porcent_one">
        </div>
        <!-- text input -->
        <div class="form-group">
          <label>Porcentagem 2</label>
          <input type="text" class="form-control" id="" placeholder="Enter ..." name="porcent_two">
        </div>
        <!-- text input -->
        <div class="form-group">
          <label>Porcentagem 3</label>
          <input type="text" class="form-control" id="" placeholder="Enter ..." name="porcent_tree">
        </div>
      </div>
      <div class="card-footer">
          <button type="submit" class="btn btn-primary float-right">Enviar</button>
      </div>
    </form>
    <!-- /.card-body -->
  </div>
</div>
{% endmacro %}

{% block content %}
{{ (create()) }}
{% endblock %}