{% extends 'layouts/dashboard.html' %}

{% macro _form() %}
<form method="post">
  <div class="form-group">
    <div class="row">
      <div class="col-lg p-1">
        {{ date_range(name="daterange") }}
      </div>
      <div class="col-lg-3 p-1">
        {{ select(motorists, name="option") }}
      </div>
      <div class="col-lg-1 p-1">
        <button type="submit" class="btn btn-primary float-right">Pesquisar</button>
      </div>
    </div>
  </div>
</form>
{% endmacro %}




{% macro _content() %}
<div class="col">
{{ card_primary(
  title="Fechamento", 
  card_body=_form()
  ) }}
</div>
{% endmacro %}

{% block content %}
{{ (_content()) }}
{% endblock %}
