{% extends 'base.html' %}

{% macro _form() %}
<form method="post">
  <div class="form-group">
    <div class="row">
      <div class="col">
        {{ date_range(name="daterange") }}
      </div>
      <div class="col-3">
        {{ select(motorists, name="option") }}
      </div>
      <div class="col-1">
        <button type="submit" class="btn btn-primary float-right">Pesquisar</button>
      </div>
    </div>
  </div>
</form>
{% endmacro %}


{% macro _content() %}
<div class="col">
{{ card_primary(tittle="Fechamento", card_body=_form()) }}
</div>
{% endmacro %}

{% block content %}
{{ wrapper_content(_content()) }}
{% endblock %}
