{% extends 'layouts/dashboard.html' %} 

{% from 'pages/dashboard/contents/graph_boll.html' import graph_boll %}
{% from 'pages/dashboard/contents/graph_runs.html' import graph_runs %}

{% block head %}
{% endblock %}

{% block content %}

{% include '/pages/dashboard/contents/top_cards.html' %}

<div class="row">
  <div class="col-lg col">
    {{ graph_runs() }}
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='dist/js/pages/dashboard2.js')}}"></script>
{% endblock %}
