{% extends 'layouts/dashboard.html' %}

{% macro _body() %}
<div class="row">
  <div class="col-lg-4 p-1">
  <label for="exampleInputEmail1">Nome do Motorista</label>
  
  <input type="text" class="form-control" placeholder="Nome Completo">
  </div>
  <div class="col-lg-4 p-1">
    <label for="exampleInputEmail1">Nome do Motorista</label>
    <input type="text" class="form-control" placeholder="Nome da Base">
  </div>
  <div class="col-lg-4 p-1">
    <label for="exampleInputEmail1">Regra de faturamento.</label>
    {{ select(['mariano'], name="option") }}
  </div>
</div>
{% endmacro %}

{% block content %}
<div class="col">

{{ card_primary(

    title="Cadastrar/Editar Motorista", 
    card_body=_body(),
    card_footer=buttons(
      link="/motorists",
      button_type="button",
      _class="btn-primary float-right",
      button_text="Novo"),
    is_form=True)}}

</div>
{% endblock %}